
<div class="card-group">
    {% for wishlist in wishlists %}

        <div class="card" style="width: 30%">
            <img src="{{ wishlist.image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ wishlist.title }}</h5>
                <li class="card-text">
                    Edition : {{ wishlist.tome }}
                </li>

                <li class="card-text">
                    Genre : {{ wishlist.genre }}
                </li>

                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    {% endfor %}
</div>