{% extends 'base.html.twig' %}

{% block title %}Hello BdController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Ma collection ✅</h1>


    <ul>{% for bdCollection in bdCollections %}
        <li>{{ bdCollection.title }}</li>
        <img class="example-wrapper" src="{{ bdCollection.image }}" alt="Example"/>
        <li>{{ bdCollection.edition }}</li>
    </ul>{% endfor %}
</div>
{% endblock %}
